body {
  @media (--large-viewport) {
    padding: 2rem 0;
    background-color: var(--base-background-color);
  }
}

.container {
  padding: 2rem 1rem 1rem;

  @media (--large-viewport) {
    width: var(--container-width);
    margin: 0 auto;
    padding: 2rem 2rem 1rem;
    background-color: var(--main-background-color);
    box-shadow:
      0 5px 5px rgba(0, 0, 0, 0.1),
      3px 0 5px rgba(0, 0, 0, 0.1),
      -3px 0 5px rgba(0, 0, 0, 0.1);
  }
}

.container__body {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.container__footer {
  & > *:last-child {
    margin-bottom: 0;
  }
}
