.posts__header {
  margin-bottom: 2rem;
}

.posts__title {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #333;
  font-size: 2rem;
}

.posts__body {
  margin-bottom: 2rem;
}

.posts__footer {
  & * {
    line-height: 1;
  }
}
