.posts__header {
  margin-bottom: 2rem;
}

.posts__title {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  font-size: 2rem;
}

.posts__body {
  margin-bottom: 2rem;
}

.post-item__body {
  display: block;
}

.post-item__metadata {
  display: block;
  color: var(--secondary-text-color);
  font-size: 0.8rem;
  font-family: var(--font-family-monospace);
}

.posts__footer {
  & * {
    line-height: 1;
  }
}
