.posts__header {
  margin-bottom: 2rem;
}

.posts__title {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  font-size: 2rem;
}

.posts__body {
  margin-bottom: 2rem;
}

.post-item__metadata {
  color: var(--secondary-text-color);
}

.posts__footer {
  & * {
    line-height: 1;
  }
}
