.p-post-container {
  padding: 1rem;

  @media (--large-viewport) {
    width: var(--container-width);
    margin: 0 auto;
    padding: 2rem 2rem 1rem;
    background-color: var(--main-background-color);
    box-shadow:
      0 5px 5px rgba(0, 0, 0, 0.1),
      3px 0 5px rgba(0, 0, 0, 0.1),
      -3px 0 5px rgba(0, 0, 0, 0.1);
  }
}

.p-post-container__body {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.p-post-container__footer {
  & > *:last-child {
    margin-bottom: 0;
  }
}

.p-post__header {
  margin-bottom: 2rem;
}

.p-post__metadata {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
  font-family: var(--font-family-monospace);
}

.p-post__title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  font-feature-settings: "palt" 1;
  font-size: 2rem;
}

.p-post__content {
  margin-bottom: 2rem;

  & * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & a {
    color: #000;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & li {
    margin-bottom: 1rem;
  }

  & p,
  & ul,
  & ol,
  & pre,
  & table {
    margin-bottom: 2rem;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-feature-settings: "palt" 1;
  }

  & p,
  & li {
    line-height: 2;
  }

  & img {
    display: block;
    width: 80%;
    margin: 0 auto;
    box-shadow:
      3px 0 3px rgba(0, 0, 0, 0.3),
      -3px 0 3px rgba(0, 0, 0, 0.3),
      0 3px 3px rgba(0, 0, 0, 0.3);
  }

  & pre {
    padding: 1em;
    background-color: #333;
    color: #fff;
    font-size: 0.8rem;

    & > code {
      @media (--large-viewport) {
        font-size: 0.8rem;
        line-height: 1.8;
      }
    }
  }

  & table {
    width: 100%;
  }
}

.p-post__footer {
  & * {
    line-height: 1;
  }
}
