.p-posts-container {
  padding: 1rem;

  @media (--large-viewport) {
    width: var(--container-width);
    margin: 0 auto;
    padding: 2rem 2rem 1rem;
    background-color: var(--main-background-color);
    box-shadow:
      0 5px 5px rgba(0, 0, 0, 0.1),
      3px 0 5px rgba(0, 0, 0, 0.1),
      -3px 0 5px rgba(0, 0, 0, 0.1);
  }
}

.p-posts-container__body {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.p-posts-container__footer {
  & > *:last-child {
    margin-bottom: 0;
  }
}

.p-posts__header {
  margin-bottom: 1rem;
}

.p-posts__title {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  font-size: 2rem;
}

.p-posts__body {
  margin-bottom: 2rem;
}

.p-post-item__body {
  display: block;
}

.p-post-item__metadata {
  display: block;
  color: var(--secondary-text-color);
  font-size: 0.8rem;
  font-family: var(--font-family-monospace);
}

.p-posts__footer {
  margin-bottom: 2rem;

  & * {
    line-height: 1;
  }
}
