.p-top-container {
  padding: 0;
  text-align: center;
  line-height: 100vh;
}

.p-top {
  display: inline-flex;
  padding: 1rem;
  line-height: 1.5;
  text-align: left;

  @media (--large-viewport) {
    background-color: var(--main-background-color);
    box-shadow:
      0 5px 5px rgba(0, 0, 0, 0.1),
      3px 0 5px rgba(0, 0, 0, 0.1),
      -3px 0 5px rgba(0, 0, 0, 0.1);
  }
}

.p-top__left {
  display: block;
  height: 96px;
  margin-right: 1rem;
}

.p-top__right {
  height: 96px;
}

.p-top__title {
  font-size: 0.8rem;
  font-weight: normal;
}

.p-top__name {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.p-top__links {
  font-size: 0.8rem;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.p-top__link {
  display: inline;
  margin-bottom: 0;
}

.p-top__separator {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
