<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="ja">
  <id>https://naoty.github.io/posts/index.atom</id>
  <title>Naoto Kaneko's posts</title>
  <updated>2018-01-11T22:10:00+09:00</updated>
  <link rel="self" href="https://naoty.github.io/posts/index.atom"/>
  <author>
    <name>Naoto Kaneko</name>
  </author>
  <entry>
    <title>Atomフィードに対応した</title>
    <link rel="alternate" href="https://naoty.github.io/posts/13.html"/>
    <id>https://naoty.github.io/posts/13.html</id>
    <updated>2018-01-11T22:10:00+09:00</updated>
    <summary>Atomフィードに対応した</summary>
  </entry>
</feed>
