<section class="posts-content">
  <header class="posts-header">
    <h1 class="posts-title">Posts</h1>
  </header>
  <ul class="posts-list">
    <% for (let file of files) { %>
    <li><a href="/posts/<%= file.data.title %>.html"><%= file.data.title %></a> (<%= file.stat.mtime.toLocaleString() %>)</li>
    <% } %>
  </ul>
  <footer>
    <a href="/">トップ</a>
  </footer>
</section>
