<h1 class="posts-title">Posts</h1>
<section class="posts-content">
  <ul>
    <% for (let file of files) { %>
    <li><a href="/posts/<%= file.data.title %>.html"><%= file.data.title %></a> (<%= file.stat.mtime.toLocaleString() %>)</li>
    <% } %>
  </ul>
</section>
