<section>
  <header class="posts-header">
    <h1 class="posts-title">Posts</h1>
  </header>
  <ul class="posts-list">
    <% for (let file of files) { %>
    <li><a href="/posts/<%= path.basename(file.path) %>"><%= file.frontMatter.title %></a> (<%= file.stat.mtime.toLocaleString() %>)</li>
    <% } %>
  </ul>
  <footer class="posts-footer">
    <p>
      <a href="/">トップ</a>
    </p>
  </footer>
</section>
