<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110417654-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-110417654-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Naoto Kaneko's posts</title>
    <meta name="description" content="Naoto Kaneko's posts">
    <meta name="theme-color" content="white">
    <meta property="og:title" content="Naoto Kaneko's posts">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://naoty.github.io/icons/256x256.png">
    <meta property="og:url" content="https://naoty.github.io/posts/index.html">
    <meta property="og:description" content="Naoto Kaneko's posts">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@naoty_k">
    <meta property="twitter:title" content="Naoto Kaneko's posts">
    <meta property="twitter:description" content="Naoto Kaneko's posts">
    <meta property="twitter:image" content="https://naoty.github.io/icons/256x256.png">
    <link rel="icon" type="image/png" href="/icons/favicon.png">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="alternate" type="application/atom+xml" href="/posts/index.atom">
  </head>
  <body>
    <div class="container">
      <main class="container__body">
        <section>
          <header class="posts__header">
            <h1 class="posts__title">Posts</h1>
          </header>
          <ul class="posts__body">
            <% for (let file of files) { %>
            <li class="post-item">
              <div class="post-item__body">
                <a href="<%= file.data.postPath %>" class="post-item__link"><%= file.data.title %></a>
              </div>
              <div class="post-item__metadata">
                <span><%= file.data.time.toFormat("yyyy-MM-dd HH:mm") %></span>
              </div>
            </li>
            <% } %>
          </ul>
          <footer class="posts__footer">
            <p class="u-text-center">
              <a href="/">トップ</a> | <a href="/posts/index.atom">Feed</a>
            </p>
          </footer>
        </section>
      </main>
      <footer class="container__footer">
        <p class="u-text-center">
          © 2017 Naoto Kaneko
        </p>
      </footer>
    </div>
  </body>
</html>
