<section>
  <header class="posts-header">
    <h1 class="posts-title">Posts</h1>
  </header>
  <ul class="posts-list">
    <% for (let file of files) { %>
    <li><a href="<%= file.data.postPath %>"><%= file.data.title %></a> (<%= file.data.time.toFormat("yyyy-MM-dd HH:mm:ss") %>)</li>
    <% } %>
  </ul>
  <footer class="posts-footer">
    <p>
      <a href="/">トップ</a>
    </p>
  </footer>
</section>
