<article>
  <header class="post-header">
    <h1 class="post-title"><%= file.frontMatter.title %></h1>
    <p class="post-metadata">公開：<time datetime="<%= file.data.time.toISO() %>"><%= file.data.time.toFormat("yyyy-MM-dd HH:mm:ss") %></time></p>
  </header>
  <section class="post-content">
    <%- content %>
  </section>
  <footer class="post-footer">
    <p>
      <a href="/">トップ</a> | <a href="/posts/">一覧</a>
    </p>
  </footer>
</article>
