html
  font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif
  font-size: 16px

body
  background-color: #ddd

.container
  width: 40rem
  margin: 2rem auto 0
  padding: 2rem
  background-color: #fff
  border: 1px solid #333

header
  margin-bottom: 2rem

section
  h1
    margin-bottom: 1rem

  ul
    margin-bottom: 1rem
    margin-left: 2rem
