*
  box-sizing: border-box

html
  font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Higragino Kaku Gothic ProN", Meiryo, sans-serif
  font-size: 16px
  line-height: 150%

body
  background-color: #ddd

.container
  width: 40rem
  margin: 2rem auto 0
  padding: 0 2rem
  background-color: #fff
  border: 1px solid #000

.homepage__title
  padding: 1rem 0
  font-size: 2rem
  letter-spacing: 1px

.homepage__main
  padding-bottom: 2rem

  h1
    font-size: 1.5rem
    letter-spacing: 1px

.homepage__footer
  border-top: 1px solid #000
  text-align: center
  font-size: 0.75rem
