<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= pageTitle %></title>
    <meta name="description" content="Naoto Kaneko's homepage">
    <link rel="stylesheet" href="/homepage.css">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <div class="container">
      <main>
        <%- content %>
      </main>
      <footer>
        <p>
          © 2017 Naoto Kaneko
        </p>
      </footer>
    </div>
  </body>
</html>
