<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= pageTitle %></title>
    <meta name="description" content="Naoto Kaneko's homepage">
    <meta name="theme-color" content="white">
    <meta property="og:title" content="<%= pageTitle %>">
    <meta property="og:description" content="Naoto Kaneko's homepage">
    <meta property="og:image" content="/icons/256x256.png">
    <link rel="icon" type="image/png" href="/icons/favicon.png">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <style><%- style %></style>
  </head>
  <body>
    <div class="container">
      <main>
        <%- content %>
      </main>
      <footer class="container-footer">
        <p>
          © 2017 Naoto Kaneko
        </p>
      </footer>
    </div>
  </body>
</html>
