<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110417654-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-110417654-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Naoto Kaneko</title>
    <meta name="description" content="Naoto Kaneko's homepage">
    <meta name="theme-color" content="white">
    <meta property="og:title" content="Naoto Kaneko">
    <meta property="og:type" content="profile">
    <meta property="og:image" content="https://naoty.github.io/icons/256x256.png">
    <meta property="og:url" content="https://naoty.github.io">
    <meta property="og:description" content="Naoto Kaneko's homepage">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@naoty_k">
    <meta property="twitter:title" content="Naoto Kaneko">
    <meta property="twitter:description" content="Naoto Kaneko's homepage">
    <meta property="twitter:image" content="https://naoty.github.io/icons/256x256.png">
    <link rel="icon" type="image/png" href="/icons/favicon.png">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <div class="container">
      <main>
        <h1 class="homepage-title">Naoto Kaneko</h1>
        <section class="homepage-content">
          <%- content %>
        </section>
      </main>
      <footer class="container-footer">
        <p>
          © 2017 Naoto Kaneko
        </p>
      </footer>
    </div>
  </body>
</html>
