<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=content-width, initial-scale=1">
    <title>naoty.github.io</title>
    <link rel="stylesheet" href="homepage.css">
  </head>
  <body>
    <main>
      <%- content %>
    </main>
    <footer>
      © 2017 Naoto Kaneko
    </footer>
  </body>
</html>
