<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110417654-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-110417654-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Naoto Kaneko</title>
    <meta name="description" content="Naoto Kaneko's homepage">
    <meta name="theme-color" content="white">
    <meta property="og:title" content="Naoto Kaneko">
    <meta property="og:type" content="profile">
    <meta property="og:image" content="https://naoty.github.io/icons/256x256.png">
    <meta property="og:url" content="https://naoty.github.io">
    <meta property="og:description" content="Naoto Kaneko's homepage">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@naoty_k">
    <meta property="twitter:title" content="Naoto Kaneko">
    <meta property="twitter:description" content="Naoto Kaneko's homepage">
    <meta property="twitter:image" content="https://naoty.github.io/icons/256x256.png">
    <link rel="icon" type="image/png" href="/icons/favicon.png">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body class="l-container p-top-container">
    <div class="p-top">
      <div class="p-top__left">
        <img src="/icons/96x96.png" alt="Naoto Kaneko's icon">
      </div>
      <div class="p-top__right">
        <h1 class="p-top__title">Naoto Kaneko</h1>
        <ul class="p-top__links">
          <li class="p-top__link"><a href="/posts/">https://naoty.github.io/posts/</a></li>
          <li class="p-top__link"><a href="https://github.com/naoty">https://github.com/naoty</a></li>
          <li class="p-top__link"><a href="https://twitter.com/naoty_k">https://twitter.com/naoty_k</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
